<div class="bg-warning m-3 p-3">
  <form #submitQuote='ngForm' (ngSubmit)="quoteSubmit(submitQuote)" >

   <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">title</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="title" ngModel >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">author</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="author" ngModel >
    </div>
    <div class="mb-3">
      <label for="submit" class="form-label">Submitted By:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="submited"  ngModel>
      
    </div> 
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">create your Quote</label>
        <textarea class="form-control" name="Quote" id="" rows="4"  ngModel></textarea>
    </div>
    <div class="mb-3">
      <label for="submit" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" aria-describedby="emailHelp" name="date"  ngModel>
      
  </div> 
    
    <button type="submit" class="btn btn-primary">Add Quote</button>
  </form>
  
</div>